# Leer  un archivos tipo .CSV

In [149]:
file = open('archivos/file.csv','r').readlines()
#Imprimir el contenido del archivo

file

['t,srcuser,srchost,dstuser,dsthost,size\n',
 ' 2006-05-11 10:15:08,barb,saturn,tricia,mars,58274\n',
 ' 2006-05-12 12:48:13,tricia,mars,gene,venus,194925\n',
 ' 2006-05-12 15:02:49,phil,mars,phil,saturn,1048\n',
 ' 2006-05-13 13:59:18,barb,saturn,tricia,venus,271\n',
 ' 2006-05-14 09:31:37,gene,venus,barb,mars,2291\n',
 ' 2006-05-14 11:52:17,phil,mars,tricia,saturn,5781\n',
 ' 2006-05-14 14:42:21,barb,venus,barb,venus,98151\n',
 ' 2006-05-14 17:03:01,tricia,saturn,phil,venus,2394482\n',
 ' 2006-05-15 07:17:48,gene,mars,gene,saturn,3824\n',
 ' 2006-05-15 08:50:57,phil,venus,phil,venus,978\n',
 ' 2006-05-15 10:25:52,gene,mars,tricia,saturn,998532\n',
 ' 2006-05-15 17:35:31,gene,saturn,gene,mars,3856\n',
 ' 2006-05-16 09:00:28,gene,venus,barb,mars,613\n',
 ' 2006-05-16 23:04:19,phil,venus,barb,venus,10294\n',
 ' 2006-05-17 12:49:23,phil,mars,tricia,saturn,873\n',
 ' 2006-05-19 22:21:51,gene,saturn,gene,venus,23992']

> Para eliminar los **\n** al final de cada linea

In [150]:
file =[fila[0:-1] for fila in file]
file

['t,srcuser,srchost,dstuser,dsthost,size',
 ' 2006-05-11 10:15:08,barb,saturn,tricia,mars,58274',
 ' 2006-05-12 12:48:13,tricia,mars,gene,venus,194925',
 ' 2006-05-12 15:02:49,phil,mars,phil,saturn,1048',
 ' 2006-05-13 13:59:18,barb,saturn,tricia,venus,271',
 ' 2006-05-14 09:31:37,gene,venus,barb,mars,2291',
 ' 2006-05-14 11:52:17,phil,mars,tricia,saturn,5781',
 ' 2006-05-14 14:42:21,barb,venus,barb,venus,98151',
 ' 2006-05-14 17:03:01,tricia,saturn,phil,venus,2394482',
 ' 2006-05-15 07:17:48,gene,mars,gene,saturn,3824',
 ' 2006-05-15 08:50:57,phil,venus,phil,venus,978',
 ' 2006-05-15 10:25:52,gene,mars,tricia,saturn,998532',
 ' 2006-05-15 17:35:31,gene,saturn,gene,mars,3856',
 ' 2006-05-16 09:00:28,gene,venus,barb,mars,613',
 ' 2006-05-16 23:04:19,phil,venus,barb,venus,10294',
 ' 2006-05-17 12:49:23,phil,mars,tricia,saturn,873',
 ' 2006-05-19 22:21:51,gene,saturn,gene,venus,2399']

In [156]:
#Partir archivo por ','
file = [campo.split(',') for campo in file]
file

[[' 2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', '58274'],
 [' 2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 [' 2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', '1048'],
 [' 2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', '271'],
 [' 2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', '2291'],
 [' 2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', '5781'],
 [' 2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', '98151'],
 [' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 [' 2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', '3824'],
 [' 2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', '978'],
 [' 2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532'],
 [' 2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', '3856'],
 [' 2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', '613'],
 [' 2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', '10294'],
 [' 2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', '873'],
 [' 2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', '2399']]

In [157]:
file = file[1:]
file

[[' 2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 [' 2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', '1048'],
 [' 2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', '271'],
 [' 2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', '2291'],
 [' 2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', '5781'],
 [' 2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', '98151'],
 [' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 [' 2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', '3824'],
 [' 2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', '978'],
 [' 2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532'],
 [' 2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', '3856'],
 [' 2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', '613'],
 [' 2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', '10294'],
 [' 2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', '873'],
 [' 2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', '2399']]

# Seleccion de columnas en posicion deseada

In [158]:
# Selección de columnas en diferente orden

[[row[0], row[2], row[1],row[4], row[5] ,row[3]] for row in file]

[[' 2006-05-12 12:48:13', 'mars', 'tricia', 'venus', '194925', 'gene'],
 [' 2006-05-12 15:02:49', 'mars', 'phil', 'saturn', '1048', 'phil'],
 [' 2006-05-13 13:59:18', 'saturn', 'barb', 'venus', '271', 'tricia'],
 [' 2006-05-14 09:31:37', 'venus', 'gene', 'mars', '2291', 'barb'],
 [' 2006-05-14 11:52:17', 'mars', 'phil', 'saturn', '5781', 'tricia'],
 [' 2006-05-14 14:42:21', 'venus', 'barb', 'venus', '98151', 'barb'],
 [' 2006-05-14 17:03:01', 'saturn', 'tricia', 'venus', '2394482', 'phil'],
 [' 2006-05-15 07:17:48', 'mars', 'gene', 'saturn', '3824', 'gene'],
 [' 2006-05-15 08:50:57', 'venus', 'phil', 'venus', '978', 'phil'],
 [' 2006-05-15 10:25:52', 'mars', 'gene', 'saturn', '998532', 'tricia'],
 [' 2006-05-15 17:35:31', 'saturn', 'gene', 'mars', '3856', 'gene'],
 [' 2006-05-16 09:00:28', 'venus', 'gene', 'mars', '613', 'barb'],
 [' 2006-05-16 23:04:19', 'venus', 'phil', 'venus', '10294', 'barb'],
 [' 2006-05-17 12:49:23', 'mars', 'phil', 'saturn', '873', 'tricia'],
 [' 2006-05-19 22:21:51', 'saturn', 'gene', 'venus', '2399', 'gene']]

# Seleccion de filas

In [127]:
# Seleccion de columna y fila donde srchost = 'venus'

[[row[0],row[2],row[1],row[4],row[5],row[3],]for row in file if row[2]=='venus']

[[' 2006-05-14 09:31:37', 'venus', 'gene', 'mars', '2291', 'barb'],
 [' 2006-05-14 14:42:21', 'venus', 'barb', 'venus', '98151', 'barb'],
 [' 2006-05-15 08:50:57', 'venus', 'phil', 'venus', '978', 'phil'],
 [' 2006-05-16 09:00:28', 'venus', 'gene', 'mars', '613', 'barb'],
 [' 2006-05-16 23:04:19', 'venus', 'phil', 'venus', '10294', 'barb']]

> Usando libreria de re

In [160]:
import re
[[row[0],row[1],row[2],row[3],]for row in file if  re.search('^s',row[2])]

[[' 2006-05-13 13:59:18', 'barb', 'saturn', 'tricia'],
 [' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil'],
 [' 2006-05-15 17:35:31', 'gene', 'saturn', 'gene'],
 [' 2006-05-19 22:21:51', 'gene', 'saturn', 'gene']]

In [159]:
[[row[0],row[1],row[2]]for row in file if row[1]=='barb'and row[3]=='tricia'] # validacion con mas campos

[[' 2006-05-13 13:59:18', 'barb', 'saturn']]

# Combinacion de columnas

In [162]:
[[row[0], row[1] + '@'+ row[2],row[3] + '@'+ row[4]] for row in file]

[[' 2006-05-12 12:48:13', 'tricia@mars', 'gene@venus'],
 [' 2006-05-12 15:02:49', 'phil@mars', 'phil@saturn'],
 [' 2006-05-13 13:59:18', 'barb@saturn', 'tricia@venus'],
 [' 2006-05-14 09:31:37', 'gene@venus', 'barb@mars'],
 [' 2006-05-14 11:52:17', 'phil@mars', 'tricia@saturn'],
 [' 2006-05-14 14:42:21', 'barb@venus', 'barb@venus'],
 [' 2006-05-14 17:03:01', 'tricia@saturn', 'phil@venus'],
 [' 2006-05-15 07:17:48', 'gene@mars', 'gene@saturn'],
 [' 2006-05-15 08:50:57', 'phil@venus', 'phil@venus'],
 [' 2006-05-15 10:25:52', 'gene@mars', 'tricia@saturn'],
 [' 2006-05-15 17:35:31', 'gene@saturn', 'gene@mars'],
 [' 2006-05-16 09:00:28', 'gene@venus', 'barb@mars'],
 [' 2006-05-16 23:04:19', 'phil@venus', 'barb@venus'],
 [' 2006-05-17 12:49:23', 'phil@mars', 'tricia@saturn'],
 [' 2006-05-19 22:21:51', 'gene@saturn', 'gene@venus']]

# Seleccion condicional

In [166]:
[row for row in file if float(row[5])/1024 > 500]

[[' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 [' 2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532']]

# Remoción de duplicados

In [167]:
[row[1] for row in file]

['tricia',
 'phil',
 'barb',
 'gene',
 'phil',
 'barb',
 'tricia',
 'gene',
 'phil',
 'gene',
 'gene',
 'gene',
 'phil',
 'phil',
 'gene']

In [168]:
set([row[1]for row in file]) # Sacamos valores que no esten repetidos

{'barb', 'gene', 'phil', 'tricia'}

In [169]:
len(set([row[1]for row in file])) #Nos entrega la cantidad de valores no repetidos

4

# Manejo de NULL

In [175]:
taxpayer = open('archivos/taxpayer.csv','r').readlines();
taxpayer = [row[0:-1] for row in taxpayer]
taxpayer = [row.split(',') for row in taxpayer]

taxpayer

[['name', 'id'],
 ['bernina', '198-48'],
 ['berta', 'NULL'],
 ['ben', 'NULL'],
 ['bill', '475-']]

In [188]:
taxpayer = [[element if element != 'NULL' else None for element in row]for row in taxpayer] #Cambio a los NULL por None
taxpayer

[['name', 'id'],
 ['bernina', '198-48'],
 ['berta', None],
 ['ben', None],
 ['bill', '475-']]

In [190]:
#Discrimino los valores que tienen nulll
[row for row in taxpayer if row[1] is not None]

[['name', 'id'], ['bernina', '198-48'], ['bill', '475-']]

# ORDENAMIENTO

In [203]:
from operator import itemgetter
sorted([row for row in file if int(row[5])>100000],key = itemgetter(5))

[[' 2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 [' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 [' 2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532']]

In [204]:
file = [[element if index != 5 else int(element) for index, element in enumerate(row)] for row in file]
file

[[' 2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 [' 2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', 1048],
 [' 2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', 271],
 [' 2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', 2291],
 [' 2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', 5781],
 [' 2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', 98151],
 [' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482],
 [' 2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', 3824],
 [' 2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', 978],
 [' 2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 [' 2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', 3856],
 [' 2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', 613],
 [' 2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', 10294],
 [' 2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', 873],
 [' 2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', 2399]]

In [205]:
sorted([row for row in file if int(row[5]) > 100000], key=itemgetter(5))

[[' 2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 [' 2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 [' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482]]

In [206]:
sorted([row for row in file], key=itemgetter(1,3))

[[' 2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', 98151],
 [' 2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', 271],
 [' 2006-05-14 09:31:37', 'gene', 'venus', 'barb', 'mars', 2291],
 [' 2006-05-16 09:00:28', 'gene', 'venus', 'barb', 'mars', 613],
 [' 2006-05-15 07:17:48', 'gene', 'mars', 'gene', 'saturn', 3824],
 [' 2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', 3856],
 [' 2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', 2399],
 [' 2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 [' 2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', 10294],
 [' 2006-05-12 15:02:49', 'phil', 'mars', 'phil', 'saturn', 1048],
 [' 2006-05-15 08:50:57', 'phil', 'venus', 'phil', 'venus', 978],
 [' 2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', 5781],
 [' 2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', 873],
 [' 2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 [' 2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482]]

# JOINS

In [7]:
profile_contact = open('archivos/profile_contact.csv','r').readlines()
profile_contact = [row[0:-1] for row in profile_contact]
profile_contact = [row.split(',') for row in profile_contact]
profile_contact = profile_contact[1:]
profile_contact

[['1', 'MSN', '  user1-msnid'],
 ['2', ' AIM', 'user2-aimid'],
 ['2', 'MSN', '  user2-msnid'],
 ['2', ' Yahoo', 'user2-yahooid'],
 ['4', 'Yahoo', '  user4-yahooi']]

In [16]:
#Archivo #2 profile
profile = open('archivos/profile.csv','r').readlines()
profile = [row[0:-1]for row in profile]
profile = [row.split(',')for row in profile]
profile = profile[1:]
profile

[[' Mort', ' 1969-09-30', ' white', ' burrito:curry:eggroll', ' 3'],
 [' Brit', ' 1957-12-01', ' red', ' burrito:curry:pizza', ' 1'],
 [' Carl', ' 1973-11-02', ' red', ' eggroll:pizza', ' 4'],
 [' Sean', ' 1963-07-04', ' blue', ' burrito:curry', ' 5'],
 [' Alan', ' 1965-02-14', ' red', ' curry:fadge', ' 1'],
 [' Mara', ' 1968-09-17', ' green', ' lutefisk:fadge', ' 1'],
 [' Shepard', " '1975-09-02", ' black', ' curry:pizza', ' 2'],
 [' Dick', ' 1952-08-20', ' green', ' lutefisk:fadge', ' 0'],
 [' Tony', ' 1960-05-01', ' white', ' burrito:pizza', ' ']]